<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Style.css">
</head>
<body>
    <header class="nav">
        <img src="~/Images/magnus.jpg" class="logo"/>
        @Html.ActionLink("Om", "About", "Home")
        @Html.ActionLink("Kontakt", "Contact", "Home")
        @Html.ActionLink("Projekt", "Projects", "Home")
        @Html.ActionLink("Feber", "FeverCheck", "Doctor")
        @Html.ActionLink("Gissningslek", "GuessingGame", "GuessingGame")
    </header>
    
    <div>
        @RenderBody()
    </div>
    <div id="footer"> @DateTime.Now.Date Magnus Larsson</div>

</body>
</html>
